<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>
  <connectionStrings>
    <add connectionString="Server=91f1d1ec-1064-483b-b3a1-a605006b299a.sqlserver.sequelizer.com;Database=db91f1d1ec1064483bb3a1a605006b299a;User ID=lgzpsqkqqfwdmffg;Password=wHLroKidxdcXecXhcWpteMdgbPFaxqHRvsWyCKkYfZmPJJHJwUeP52kSEEqGeiMh;" name="conn"/>
  </connectionStrings>
</configuration>
